<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main_layout :: main-fragment(~{:: title},~{:: section},~{:: #cssContent},~{:: #jsContent})}">
<head>
    <meta charset="UTF-8">
    <title>Cảm ơn</title>
    <th:block id="cssContent">
        <link rel="stylesheet" href="/assets/css/cart.css">
    </th:block>
</head>
<body>
<section>
    <div class="page-error">
        <h3>Cám ơn bạn đã mua hàng!</h3>
        <p>Bên mình đã nhận được đơn hàng của bạn, sẽ giao sản phẩm đến với bạn sớm nhất.
            Bạn có thể theo dõi đơn hàng trên <a href="/info/order">kiểm tra đơn đặt hàng</a>,
            hoặc theo dõi trên gmail mà bạn đã đăng ký tài khoản.</p>
    </div>
</section>
<th:block id="jsContent">
    <script src="/assets/js/cart.js"></script>
</th:block>
</body>
</html>