<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/admin_layout :: admin-fragment(~{:: title},~{:: section},~{:: #cssContent},~{:: #jsContent})}">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <th:block id="cssContent">
    </th:block>
</head>
<body>
<section class="content" ng-controller="ProductController">
    {{setTitle('Sản phẩm','product')}}
    <div class="alert-noti" ng-show="message.show">
        <i class="fas fa-times close-alert" ng-click="message={}"></i>
        <span>{{message.content}}</span>
    </div>
    <div class="container-fluid">
        <div class="my-card-header" ng-show="listPr">
            <div style="display: flex;">
                <button class="btn btn-default" ng-click="addPr()">Thêm</button>
                <select ng-model="brandSlug" ng-change="getByBrand(true)" class="form-control">
                    <option value="" hidden>--All--</option>
                    <option value="adidas">Adidas</option>
                    <option value="nike">Nike</option>
                    <option value="converse">Converse</option>
                </select>
            </div>
            <div style="width: 20%;">
                <input class="form-control" type="text" id="myInput" placeholder="Search..." onkeyup="searchTable(this,'productPr')"/>
            </div>
        </div>
        <div class="card">
            <div class="card-body" id="listPr" ng-show="listPr">
                <table id="productPr" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Receipt</th>
                            <th>Sold</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products">
                            <td>{{product.name}}</td>
                            <td>{{toMoney(product.price)}}</td>
                            <td>{{product.receipt}}</td>
                            <td>{{product.sold}}</td>
                            <td>
                                <div class="my-custom-checkbox">
                                    <input type="checkbox" class="my-custom-control-input" id="pr{{product.id}}" ng-checked="product.status==1">
                                    <label class="my-custom-control-label" ng-if="product.status==1" ng-click="updateStatus('pr',product.id)"></label>
                                    <label class="my-custom-control-label my-custom-control-label-un" ng-if="product.status==0" ng-click="updateStatus('pr',product.id)"></label>
                                </div>
                            </td>
                            <td>
                                <a href="#" class="btn" ng-click="getDetailById(product.id)"><i class="fas fa-info"></i></a>
                                <i class="far fa-edit btn" ng-click="getById(product.id)"></i>
                                <i class="fas fa-trash-alt btn" ng-click="deletePr(product.id)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems"
                    ng-model="currentPage" max-size="3"
                    class="pagination-sm" rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    ng-change="pageChanged()"></ul>
            </div>
            <div class="card-body" id="editPr" ng-show="editPr">
                <form id="formUpdate">
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="nameUpPr">
                                Name
                            </label>
                            <input type="text" ng-model="product.name" name="name" id="nameUpPr" class="form-control">
                            <span id="nameEr" class="errors"></span>
                        </div>
                        <div class="form-group col-4">
                            <label for="priceUpPr">
                                Price (VNĐ)
                            </label>
                            <input type="number" ng-model="product.price" name="price" id="priceUpPr" class="form-control">
                            <span id="priceEr" class="errors"></span>
                        </div>
                        <div class="form-group col-4">
                            <label for="brandUpPr">
                                Brand
                            </label>
                            <select id="brandUpPr" ng-model="product.brand"  name="brand" class="form-control">
                                <option value="1">Adidas</option>
                                <option value="2">Nike</option>
                                <option value="3">Converse</option>
                            </select>
                            <span id="brandEr" class="errors"></span>
                        </div>
                        <div class="form-group col-8">
                            <label for="descriptionUpPr">
                                Description
                            </label>
                            <input type="text" ng-model="product.description" name="description" id="descriptionUpPr" class="form-control">
                            <span id="descriptionEr" class="errors"></span>
                        </div>
                        <div class="form-group col-8">
                            <label for="contentUpPr">
                                Content
                            </label>
                            <textarea type="text" ng-model="product.content" name="content" id="contentUpPr" class="form-control"></textarea>
                            <span id="contentEr" class="errors"></span>
                        </div>
                    </div>
                    <input type="hidden" name="id" id="idUpPr">
                    <div>
                        <button class="btn btn-default" type="button" id="btnEdit" ng-click="process()">Ghi</button>
                        <button class="btn btn-default" type="button" id="btnInsert" ng-click="getByBrand(false)">Thoát</button>
                    </div>
                </form>
            </div>
            <div class="card-body" id="listDetailPr" ng-show="listDetailPr">
                <div class="row">
                    <div class="form-group col-4">
                        <label for="name">
                            Name
                        </label>
                        <input type="text" ng-model="productDetails.product.name" name="name" id="name" class="form-control" readonly>
                    </div>
                    <div class="form-group col-8">
                        <label for="description">
                            Description
                        </label>
                        <input type="text" ng-model="productDetails.product.description" name="description" id="description" class="form-control" readonly>
                    </div>
                    <div class="form-group col-4">
                        <label for="brand">
                            Brand
                        </label>
                        <input type="text" ng-model="productDetails.product.brand" id="brand" name="brand" class="form-control" readonly>
                    </div>
                    <div class="form-group col-8">
                        <label for="content">
                            Content
                        </label>
                        <textarea type="text" ng-model="productDetails.product.content" name="content" id="content" class="form-control" readonly></textarea>
                    </div>
                    <input type="hidden" name="">
                </div>
                <button class="btn btn-default" type="button" ng-click="addChr()" ng-show="btnAddChr">Thêm</button>
                <div id="insertDetail" ng-show="insertDetail">
                    <form action="" id="formInsertDetail" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col col-sm-6">
                                <div class="col-12">
                                    <label class="select_img" for="imageInsert" style="display: block">
                                        <img src="" id="imgInsert" style='width:100%;height: 100%;' alt="Chọn ảnh chính">
                                    </label>
                                    <input hidden type="file" id="imageInsert" name="file" data-img="imgInsert" onchange="selectImgPr(this)" accept="image/png, image/jpeg, image/jpg">
                                    <span id="fileEr" class="errors"></span>
                                </div>
                                <div class="col-12">
                                    <label class="select_imgs">Các ảnh xem chi tiết: </label>
                                    <label for="fileChr" class="btn btn-default">Chọn ảnh</label>
                                    <input hidden type="file" id="fileChr" name="fileChr" data-img="preViewInsert" onchange="selectImgChr(this)"  accept="image/png, image/jpeg, image/jpg" multiple>
                                    <div id="preViewInsert"></div>
                                    <span id="fileChrEr" class="errors"></span>
                                </div>

                            </div>
                            <div class="col col-sm-6">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="color">
                                            Color
                                        </label>
                                        <select name="colorId" ng-model="productDetail.colorId" id="color" class="form-control">
                                            <option value="" selected>--Chọn màu--</option>
                                            <option ng-repeat="color in productDetails.colors" value="{{color.id}}">{{color.name}}</option>
                                        </select>
                                        <span id="colorIdEr" class="errors"></span>
                                    </div>
                                    <div class="col-12">
                                        <label>Chọn size</label>
                                    </div>
                                    <div class="col-12 filter-size">
                                        <label ng-repeat="size in productDetails.sizes" for="size-{{size.name}}" onclick="selectSize(this)">{{size.name}}</label>
                                        <input ng-repeat="size in productDetails.sizes" type="checkbox" name="sizeIds" id="size-{{size.name}}" value="{{size.id}}" hidden>
                                    </div>
                                    <span id="sizeIdsEr" class="errors"></span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="{{product.id}}" name="productId" id="productId">
                        <button type="button" ng-click="processDetail('insert')" class="btn btn-default">Ghi</button>
                        <button type="button" class="btn btn-default" ng-click="closeForm()">Hủy</button>
                    </form>
                </div>
                <br/>
                <div id="editDetail" ng-show="editDetail">
                    <form action="" id="formEditDetail" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col col-sm-6">
                                <div class="col-12">
                                    <label class="select_img" for="imageEdit">
                                        <img src="{{productDetail.image}}" id="imgEdit" style='width:100%;height: 100%;' alt="Chọn ảnh chính">
                                    </label>
                                    <input hidden type="file" id="imageEdit" name="file" data-img="imgEdit" onchange="selectImgPr(this)" accept="image/png, image/jpeg, image/jpg">
                                    <span id="fileEr_e" class="errors"></span>
                                </div>
                                <div class="col-12">
                                    <label class="select_imgs">Các ảnh xem chi tiết: </label>
                                    <label for="imageChrEdit" class="btn btn-default" onclick="previewImgs()" ng-click="preViewEdit=false">Chọn ảnh</label>
                                    <input hidden type="file" id="imageChrEdit" name="fileChr"  data-img="preViewEdit" onchange="selectImgChr(this)" accept="image/png, image/jpeg, image/jpg" multiple>
                                    <div id="preViewEdit" ng-show="!preViewEdit">
                                    </div>
                                    <div id="preViewEdit2" ng-show="preViewEdit">
                                        <img ng-repeat="img in productDetail.images" src="{{img}}"/>
                                    </div>
                                    <span id="fileChrEr_e" class="errors"></span>
                                </div>
                            </div>
                            <div class="row col-sm-6" style="position: relative;">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>Receipt</label>
                                        <input type="number" value="{{productDetail.receipt}}" id="receipt" class="form-control" readonly>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Sold</label>
                                        <input type="number" value="{{productDetail.sold}}" id="sold" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label for="color">Color</label>
                                    <select name="colorId" id="color_e" class="form-control">
                                        <option ng-repeat="color in colors" value="{{color.id}}" ng-selected="productDetail.colorId==color.id">{{color.name}}</option>
                                    </select>
                                    <span id="colorIdEr_e" class="errors"></span>
                                </div>
                                <div class="col-12">
                                    <label>Bảng size</label>
                                    <a class="btn btn-success" ng-click="getSizes(size.productDetailId,1)">Thêm</a>
                                </div>
                                <div class="col-12" style="max-height: 200px;overflow: auto">
                                    <table class="table">
                                        <thead class="sticky-top thead-dark">
                                            <tr>
                                                <th>Size</th>
                                                <th>Receipt</th>
                                                <th>Sold</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="size in sizes">
                                                <td>{{size.size.name}}</td>
                                                <td>{{size.receipt}}</td>
                                                <td>{{size.sold}}</td>
                                                <td>
                                                    <div class="my-custom-checkbox">
                                                        <input type="checkbox" class="my-custom-control-input" id="ch{{size.productDetailId}}" ng-checked="size.status==1">
                                                        <label class="my-custom-control-label" ng-if="size.status==1" ng-click="updateStatus('ch',size.productDetailId)"></label>
                                                        <label class="my-custom-control-label my-custom-control-label-un" ng-if="size.status==0" ng-click="updateStatus('ch',size.productDetailId)"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <i class="far fa-edit btn" ng-click="getSizes(size.productDetailId,0)"></i>
                                                    <i class="fas fa-trash-alt btn" ng-click="deleteCh(size.productDetailId,1)"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="chooseSize" ng-show="changeSize">
                                    <i>Cỡ sẽ tự động cập nhật</i>
                                    <select ng-model="productDetail.sizeChange" class="form-control" ng-change="changeSizeProd()">
                                        <option value="">--Chọn cỡ--</option>
                                        <option ng-repeat="item in sizeNots" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                    <i class="fas fa-times closeChangeSize" ng-click="changeSize=false"></i>
                                </div>
                                <span id="sizeIdsEr_e" class="errors"></span>
                            </div>
                        </div>
                        <input type="hidden" value="{{productDetail.id}}" name="id" id="id_e">
                        <button type="button" ng-click="processDetail('edit')" class="btn btn-default">Ghi</button>
                        <button type="button" class="btn btn-default" ng-click="closeForm()">Hủy</button>
                    </form>
                </div>
                <br/>
                <div id="tableListDetail" ng-show="tableListDetail">
                    <table id="productDetail" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Color</th>
                            <th>Receipt</th>
                            <th>Sold</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detail in productDetails.product.detailList">
                                <td style="width: 100px;">
                                    <img src="{{detail.image}}" alt="image"/>
                                </td>
                                <td>{{detail.color}}</td>
                                <td>{{detail.receipt}}</td>
                                <td>{{detail.sold}}</td>
                                <td>
                                    <i class="far fa-edit btn" ng-click="getDetailByIdDetail(detail.productId,detail.colorId)"></i>
                                    <i class="fas fa-trash-alt btn" ng-click="deleteCh(detail.id,2)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination total-items="totalItemsChr"
                        ng-model="currentPageChr" max-size="3"
                        class="pagination-sm" rotate="false"
                        previous-text="&lsaquo;" next-text="&rsaquo;"
                        ng-change="pageChangedChr()"></ul>
                </div>
                <button class="btn btn-default" type="button" ng-click="getByBrand(false)">Thoát</button>
            </div>
        </div>

    </div><!-- /.container-fluid -->
    <div class="cus-modal" ng-show="changeSize"></div>
</section>
<th:block id="jsContent">
    <script src="/assets/admin/script/product/ProductService.js"></script>
    <script src="/assets/admin/script/product/ProductController.js"></script>
</th:block>
</body>
</html>