<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/admin_layout :: admin-fragment(~{:: title},~{:: section},~{:: #cssContent},~{:: #jsContent})}">
<head>
    <meta charset="UTF-8">
    <title>Hóa đơn nhập</title>
    <th:block id="cssContent">
        <style>
            .selectProd{
                max-height: 400px;
                overflow: auto;
                margin: 1rem 0;
            }
            form#receiptRequest input{
                width: 5rem;
                border: 2px solid;
            }
             .card-color{
                 display: block;
                 width: 2rem;
                 height: 1rem;
                 margin: auto;
                 border: 1px solid;
             }
        </style>
    </th:block>
</head>
<body>
<section class="content" ng-controller="ReceiptController">
    {{setTitle('Hóa đơn nhập','receipt')}}
    <div class="alert-noti" ng-show="message.show">
        <i class="fas fa-times close-alert" ng-click="message={}"></i>
        <span>{{message.content}}</span>
    </div>
    <div class="container-fluid">
        <div class="my-card-header" ng-show="listPr">
            <div style="display: flex;">
                <button class="btn btn-default" ng-click="addPr()">Thêm</button>
            </div>
            <div style="width: 20%;">
                <input class="form-control" type="text" id="myInput" placeholder="Search..." onkeyup="searchTable(this,'receipt')"/>
            </div>
        </div>
        <div class="card">
            <div class="card-body" ng-show="listPr">
                <table id="receipt" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Người nhập</th>
                        <th>Nhà cung cấp</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                        <th>Ngày nhập</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="receipt in receipts">
                        <td>{{receipt.userName}}</td>
                        <td>{{receipt.brandName}}</td>
                        <td>{{receipt.quantity}}</td>
                        <td>{{toMoney(receipt.totalPrice)}}</td>
                        <td>{{formatDate(receipt.createdDate)}}</td>
                        <td>
                            <a href="#" class="btn" ng-click="getById(receipt.id)"><i class="fas fa-info"></i></a>
                            <i class="far fa-edit btn" ng-click="getByIdForEdit(receipt.id)"></i>
                            <a class="btn"><i class="fas fa-file-download" data-toggle="modal" ng-click="setReceiptId(receipt.id)" data-target="#modalExport"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems"
                    ng-model="currentPage" max-size="3"
                    class="pagination-sm" rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    ng-change="pageChanged()"></ul>
            </div>
            <div class="modal fade" id="modalExport" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalExportTitle">Chọn loại file xuất</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="formReport" ng-model="search">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="productId">Tên</label>
                                        <select class="form-control" id="typeFile" ng-model="typeFile">
                                            <option value="pdf">PDF</option>
                                            <option value="word">Word</option>
                                            <option value="xls">Excel</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="exportReceipt()">Xuất</button>
                        </div>
                    </div>
                </div>
            </div>
            <a id='downloadpdf' href="#" title='export.pdf' download='export.pdf' style="display:none;" >Download PDF</a>
            <a id='downloadword' href="#" title='export.doc' download='export.doc' style="display:none;" >Download PDF</a>
            <a id='downloadxls' href="#" title='export.xls' download='export.xls' style="display:none;" >Download PDF</a>
            <div class="card-body" ng-show="formAdd">
                <form action="" name="formAddPr">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Người nhập</label>
                            <input type="text" class="form-control" ng-model="receipt.userName" readonly>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Ngày nhập</label>
                            <input type="date" class="form-control" ng-model="receipt.createdDate" readonly>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Nhà cung cấp</label>
                            <select class="form-control" ng-model="brandId" name="brandId" ng-change="getProductByBrand()" ng-required="true">
                                <option value="">--Chọn--</option>
                                <option value="1">Adidas</option>
                                <option value="2">Converse</option>
                                <option value="3">Nike</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Số lượng</label>
                            <input type="number" class="form-control" ng-model="quantity" readonly>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Tổng tiền</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="totalMoneyStr" readonly>
                                <div class="input-group-append">
                                    <span class="input-group-text">VNĐ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalLong"
                    ng-disabled="formAddPr.brandId.$error.required" ng-click="resetSearch()">
                        Thêm
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Chọn sản phẩm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formSearchProd" ng-model="search">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="productId">Tên</label>
                                                <select class="form-control" id="productId" ng-model="search.productId" ng-change="searchProduct()">
                                                    <option value="">--Chọn giày--</option>
                                                    <option ng-repeat="product in products" value="{{product.id}}">{{product.name}}</option>

                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="colorId">Màu</label>
                                                <select class="form-control" ng-model="search.colorId" id="colorId" ng-change="searchProduct()">
                                                    <option value="">--Chọn màu--</option>
                                                    <option ng-repeat="color in colors" value="{{color.id}}">{{color.name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="sizeId">Cỡ</label>
                                                <select class="form-control" ng-model="search.sizeId" id="sizeId" ng-change="searchProduct()">
                                                    <option value="">--Chọn cỡ--</option>
                                                    <option ng-repeat="size in sizes" value="{{size.id}}">{{size.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="selectProd">
                                        <table class="table table-bordered table-striped">
                                            <thead class="sticky-top thead-dark">
                                            <tr>
                                                <th>Ảnh</th>
                                                <th>Tên</th>
                                                <th>Màu</th>
                                                <th>Cỡ</th>
                                                <th>Chọn</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="prod in productDetails">
                                                <td style="width: 100px;">
                                                    <img src="{{prod.image}}"/>
                                                </td>
                                                <td>{{prod.name}}</td>
                                                <td><span class="card-color" style="background-color: {{prod.colorCode}}"></span></td>
                                                <td>{{prod.size}}</td>
                                                <td>
                                                    <label class="my-container">
                                                        <input type="checkbox" class="selectPD" pdIndex="{{$index}}" ng-checked="isChecked(prod.id)">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="selectProductDetail()">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <label>Danh sách sản phẩm thêm</label>
                        <form name="formReceiptRequest" id="receiptRequest" ng-model="receiptRequest">
                            <div class="selectProd">
                            <table class="table table-bordered table-striped">
                                <thead class="sticky-top thead-dark">
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Tên</th>
                                    <th>Màu</th>
                                    <th>Cỡ</th>
                                    <th>Số lượng</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="prod in productDetailSelecteds">

                                    <td style="width: 100px;">
                                        <img src="{{prod.image}}"/>
                                    </td>
                                    <td>{{prod.name}}</td>
                                    <td><span class="card-color" style="background-color: {{prod.colorCode}}"></span></td>
                                    <td>{{prod.size}}</td>
                                    <td>
                                        <input type="number" ng-model="prod.receipt" name="quantity" ng-required="true" ng-change="totalQuantityAndMoney()" />
                                    </td>
                                    <td>
                                        <i class="fas fa-times" ng-click="deletePD($index)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                            <button class="btn btn-default" ng-show="btnAdd" ng-click="process('insert')" ng-disabled="productDetailSelecteds.length<1 || formReceiptRequest.$invalid">Ghi</button>
                            <button class="btn btn-default" ng-show="btnEdit" ng-click="process('update')" ng-disabled="productDetailSelecteds.length<1 || formReceiptRequest.$invalid">Ghi</button>
                        </form>
                    </div>
                <button class="btn btn-default" type="button" ng-click="close()">Thoát</button>
            </div>

            <div class="card-body" ng-show="listCh">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Màu</th>
                            <th>Số lượng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in receiptDetails">
                            <td style="width: 100px;">
                                <img src="{{item.image}}" alt="loading..."/>
                            </td>
                            <td>{{item.productName}}</td>
                            <td>{{item.color}}</td>
                            <td>{{item.receipt}}</td>
                            <td>
                                <a href="#" class="btn"><i class="fas fa-info"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItemChs"
                    ng-model="currentPageCh" max-size="3"
                    class="pagination-sm" rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    ng-change="pageChangedCh()"></ul>
                <button class="btn btn-default" type="button" ng-click="close()">Thoát</button>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<th:block id="jsContent">
    <script src="/assets/admin/script/receipts/ReceiptService.js"></script>
    <script src="/assets/admin/script/receipts/ReceiptController.js"></script>
</th:block>
</body>
</html>