<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main_layout :: main-fragment(~{:: title},~{:: section},~{:: #cssContent},~{:: #jsContent})}">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
  <th:block id="cssContent">
    <link rel="stylesheet" href="/assets/css/cart.css">
  </th:block>
</head>
<body>
<section>
  <div class="alert-noti" th:if="${error}" style="display: block">
    <i class="fas fa-times close-alert"></i>
    <span th:text="${error.message}">Tài khoản hoặc mật khẩu không chính xác.</span>
  </div>
  <div class="main-cart container-cus">
    <h2>Giỏ hàng của bạn</h2>
    <div class="content-cart">
      <h5>Giỏ hàng của bạn trống</h5>
    </div>
  </div>
</section>
<th:block id="jsContent">
  <script src="/assets/js/cart.js"></script>
</th:block>
</body>
</html>