<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main_layout :: main-fragment(~{:: title},~{:: section},~{:: #cssContent},~{:: #jsContent})}">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <th:block id="cssContent">
    </th:block>
</head>
<body>
<section>
    <div class="new-content" th:each="event:${events}">
        <img th:src="${event.url}" alt="" width="100%">
        <div th:class="'content '+${event.style}">
            <h1 th:text="${event.name}">SUPEREARTH SW SUPERSTAR</h1>
            <p th:text="${event.description}">Out now: a vegan take on the Superstar, designed with Sean Wotherspoon.</p>
            <a th:href="'/sales/'+${event.slug}">Chi tiết <i class="fal fa-long-arrow-right"></i></a>
        </div>
    </div>
    <div class="prod-popular-parent">
        <div class="container-cus">
            <h3>Sản phẩm mua nhiều</h3>
            <div class="prod-popular">
                <div class="item" th:each="item:${buyALot}">
                    <div class="img">
                        <a th:href="'/products/'+${item.slug+'/'+item.color}"><img th:src="${item.image}" alt=""></a>
                        <span class="price" th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 0, 'POINT')}+' VND'">2.300.000 đ</span>
                    </div>
                    <h6 th:text="'Giày '+${item.name}">Giày Superstar</h6>
                    <div class="rateYo" th:data-star="${item.avg}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="prod-new-parent">
        <div class="container-cus">
            <h3>Sản phẩm mới</h3>
            <div class="prod-popular">
                <div class="item item-new" th:each="item:${productsNew}">
                    <div class="img">
                        <a th:href="'/products/'+${item.slug+'/'+item.color}"><img th:src="${item.image}" alt=""></a>
                        <span class="price" th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 0, 'POINT')}+' VND'">2.300.000 đ</span>
                    </div>
                    <h6 th:text="'Giày '+${item.name}">Giày Superstar</h6>
                    <span>Mới</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-cus brand-popular row">
        <div class="brand-item col-sm-6">
            <img src="/assets/img/brand-popular-converse.jpg" alt="" width="100%">
            <h5>Converse</h5>
            <a class="btn-shop-now">Mua ngay<i class="fal fa-long-arrow-right"></i></a>
        </div>
        <div class="brand-item col-sm-6">
            <img src="/assets/img/brand-popular-adidas.jpg" alt="" width="100%">
            <h5>Adidas</h5>
            <a class="btn-shop-now">Mua ngay<i class="fal fa-long-arrow-right"></i></a>
        </div>
    </div>
</section>
<th:block id="jsContent">
    <script src="/assets/js/index.js"></script>
</th:block>
</body>
</html>